body {
    font-family: DejaVu Sans, sans-serif;
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 6px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

h2, h4 {
    margin: 0;
}

hr {
    margin: 10px 0;
}
